@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #011E0F;
  --color-secondary: #F5F5F5;
  --color-secondary-hover: #E5E5E5;
  --color-action: #011E0F;
  --color-action-hover: #1E392B;
  --color-border: #E5E5E5;
}